/* Header */

#header {
  display: flex;
  width: 100%;
  padding: 0.70rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#profile {
  /* border: 1px solid var(--gray-300); */
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#photoContainer {
  border: 5px double var(--orange-300);
  border-radius: 50%;
  padding: 0.5rem;
}

#profile span {
  display: block;
  margin-top:  1rem;
  border: 1px solid var(--gray-300);
  padding: 0.5rem;
  border-radius: 5px;
}

#navigation ul {
  display: flex;
  border-radius: 8px;
  width: 62rem;
  padding: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
  background: radial-gradient(var(--backgroundMenuColor));
}

#navigation li {
  padding: 1rem;
  border-radius: 5px;
  gap: 2rem;
}

header button {
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 5px;
  border-style: none;
  color: var(--gray-500);
  font-weight: bold;
  background: linear-gradient(var(--backgroundExitButtonColor));
  cursor: pointer;
}

header button:hover {
  background: var(--orange-300);
  color: var(--white);
}

/* Main */

.section {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  /* border: 0.5px solid var(--gray-300);   */
}

.section h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.containerSection {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}

.sectionItems {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  max-height: 25rem;
  min-width: 12.5rem;
  border: 1px solid var(--orange-300);
  border-radius: 5px;
  background: beige;
  justify-content: flex-end;
  cursor: pointer;
}

.sectionItems img {
  width: 100%;
  height: 100%;
  background: blue;
  border-radius: 5px 5px 0 0;
}

.sectionItems h2 {
  background: beige;
  border-radius: 0 0 5px 5px;
  align-self: center;
  text-align: justify;
  padding: 0.75rem;
  font-size: 1.2rem;
  color: var(--gray-500);
  letter-spacing: -1.8px;
  line-height: 1.5;
}

li:hover, li a:hover {
  color: var(--orange-300);
  font-weight: bold;
}

.sectionItems:hover {
  border: 2px solid var(--green);
}

/* News  */

#news h1 {
  text-align: center;
  color: var(--gray-400);
}

#news p {
  padding: 2rem;
  text-align: center;
  color: var(--gray-400)
}

/* Assistance */

#assistance {
  margin: 0;
  padding-left: 2rem;
  display: inline-block;
}

#assistance h1 {
  color: var(--gray-400);
  margin-bottom: 2.5rem;
}

#assistance ul {
  font-size: 1.5rem;
  padding-left: 2rem;
}

#assistance li {
  margin: 1.5rem 0;
  list-style: circle;
  cursor: pointer;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  padding: 1rem 0;
  background: var(white);
  font-size: 1.2rem;
  margin-top: 3rem;
}

footer h1 {
  color: var(--orange-300);
  font-weight: bold;
}

/* APAGAR */

#patients .sectionItems:last-child {
  display: none;
}

.sectionItems:nth-child(4n) {
  display: none;
}

/* APAGAR  */




